<% set_page_title(t("performance_data.page_title")) %>

<h1 class="govuk-heading-xl"><%= t("performance_data.page_title") %></h1>
<div class="govuk-grid-row">
  <h2 class="govuk-heading-m"><%= t("performance_data.subtitle") %></h2>
  <div class="govuk-grid-column-one-half govuk-grid-column-one-half-from-desktop">
    <%= render MetricsSummaryComponent::View.new(label: t('performance_data.submissions'), number: number_with_delimiter(@performance_data["submissions"])) %>

  </div>
</div>
<div class="govuk-grid-row">
  <h2 class="govuk-heading-m"><%= t("performance_data.orgs_heading") %></h2>
  <div class="govuk-grid-column-one-half">
    <%= render MetricsSummaryComponent::View.new(label: t('performance_data.organisations'), number: number_with_delimiter(@performance_data["organisations"])) %>
    <%= render MetricsSummaryComponent::View.new(label: t('performance_data.published'), number: number_with_delimiter(@performance_data["published"])) %>
  </div>
</div>
