<% content_for :body_start do %>
  <% if content_for?(:cookie_banner) %>
    <%= yield :cookie_banner %>
  <% else %>
    <%= render partial: "application/cookie_banner" %>
  <% end %>
<% end %>

<% content_for :header do %>
  <%= render(HeaderComponent::View.new(
    phase_name: "Beta"
  )) %>

  <%= render(ServiceNavigationComponent::View.new(
    navigation_items: [
      {text: "Get started", href: get_started_path},
      {text: "About", href: about_path},
      {text: "Support", href: support_path},
    ],
    featured_link: {text: "Sign in", href: Settings.forms_admin.base_url}
  )) %>
<% end %>

<% content_for :before_content do %>
  <%= yield :back_link %>
<% end %>

<% unless content_for?(:content) %>
  <% content_for :content do %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= yield %>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :footer do %>
  <%= govuk_footer meta_items_title: t("footer.meta_items_title"), meta_items: do |footer| %>
    <%= footer.with_meta_html do %>
      <div class="govuk-footer__meta-custom">
        Built by the
        <a
          href="https://www.gov.uk/government/organisations/government-digital-service"
          class="govuk-footer__link"
          >Government Digital Service</a
        >
      </div>
    <% end %>
  <% end %>
<% end %>

<%= render template: "layouts/base" %>
