<!DOCTYPE html>
<html>
  <head>
    <title>FormsProductPage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_stylesheet_tag 'application.scss' %>
    <%= vite_client_tag %>

    <link rel="shortcut icon" type="image/x-icon" href="<%= vite_asset_path "#{govuk_assets_path}/images/favicon.ico"%>" sizes="16x16 32x32 48x48" />
  </head>

  <body>
    <%= yield %>
    <%= vite_javascript_tag 'application' %>
  </body>
</html>
